.nav {
  height: 20px;
  display: inline-block;
}

#prev {
  border: solid 1px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

}

#page {
  border: solid 1px black;
}

#next {
  border: solid 1px black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

}

.grey {
  color: grey;
}

.blue {
  color: blue;
}

ul {
  list-style: none;
}